.wrapper{
    width: 300px;
    height: 425px;
    background-color: var(--dark);
    border-radius: .4rem;
    padding: 1.5rem var(--total-pad);
    display: flex;
    flex-direction: column;
}
.title{
    text-transform: uppercase;   
}
.categories{
    margin-top: 1.5rem;
}
.category{
    font-size: .8rem;
    color: var(--grey);
}
.categories ul > li + li{
    margin-top: .8rem;
}
.footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}
.footer a{
    font-size: .8rem;
    color: var(--grey);
}